.select-box {
  border: 1px solid #ece3e4;
  display: inline-block;
  min-width: 150px;

  * {
    font: 400 16px Arial, Helvetica, 'sans-serif';
    color: #6d6969;
  }

  input[type="text"] {
    padding: 10px 10px;
    border: 0;
  }
}
