.select-box {
  border: 1px solid #ece3e4;
  display: inline-block;
  min-width: 150px;
  width: 100%;
  position: relative;

  * {
    font: 400 16px Arial, Helvetica, 'sans-serif';
    color: #6d6969;
    box-sizing: border-box;
  }

  input[type="text"] {
    padding: 10px;
    margin: 0;
    border: 0;
    width: 100%
  }

  &__options {
    position: absolute;
    top: 100%;
    list-style-type: none;
    margin: 0;
    width: 100%;
    border: 1px solid #ece3e4;
    max-height: 154px;
    overflow-y: scroll;

    button {
      padding: 10px;
      background: none;
      border: 0px;
      display: block;
      text-align: left;
      width: 100%;

      &:hover {
        background: #e2f3fe;
      }

      &.active {
        background: #e2f3fe;
      }
    }
  }

  &__state-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -8px;
  }
}
